# Ignore Terraform directories and lock files
.terraform/
# .terraform.lock.hcl

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Override files (optional local customizations)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan output files
*.tfplan

# Sensitive variable files (if you store secrets locally)
*secrets.tfvars
*secrets.tfvars.json

# Ignore lambda zip file/s
*.zip

dbt.log

.user.yml

.tmp*

__pycache__

*.egg-info/

.env

.vscode/

.DS_Store