name: ci
on:
  workflow_dispatch: {}
  pull_request:
    branches: [ main ]

jobs:
  lint_dbt: 
    runs-on: ubuntu-latest
    container: 
      image: python:3.11

    steps: 
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          set-safe-directory: true
      
      - name: Set ownership
        run: |
          # this is to fix GIT not liking owner of the checkout dir
          chown -R $(id -u):$(id -g) $PWD
      
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./dbt/requirements.txt

      - name: Run dbt linting checks
        run: | 
          bash ./bin/dbt_linter.sh
